@model AcutePediatricsOrientation.ViewModels.PackageViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    a[href]:after {
        content: "";
    }

    @@media print {
        .btn {
            display: none;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $(".sign-topic").click(function () {
            //console.log($(this).data("id"));
            var signbutton = $(this);
            $.ajax({
                url: @Html.Raw(Json.Serialize(Url.Action("SignTopic", "Package"))),
                type: "GET",
                data: { id: signbutton.data("id") },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        signbutton.parent().append("<p>" + data.name + "</p>");
                        signbutton.parent().append("<p>" + data.date + "</p>");
                        signbutton.remove();
                    }
                }
            });
        });

        $("#print-button").click(function () {
            window.print();
        });
    });
</script>

<div class="page-header" style="margin-top: 50px; margin-bottom: 40px;">
    <h3 id="staff-name">
        @Model.StaffName
        <a id="print-button" class="btn btn-default pull-right"><i class="glyphicon glyphicon-print"></i> Print</a>
    </h3>
</div>

@if (Model.Categories.Count > 0)
{
    @foreach (var category in Model.Categories)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.DisplayFor(modelItem => category.Name)</div>
            <div class="panel-body">

                @if (category.Topics.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 40%; max-width: 40%">
                                    Topic
                                </th>
                                <th style="width: 40%; max-width: 40%">
                                    Documents / Links
                                </th>
                                <th style="width: 20%; max-width: 20%">
                                    Signature
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in category.Topics)
                            {
                                <tr>
                                    <td>
                                        <p>
                                            <span>@Html.DisplayFor(modelItem => topic.Name)</span>
                                        </p>
                                    </td>

                                    <td>
                                        @foreach (var document in topic.Documents)
                                        {
                                            <p>
                                                <a asp-controller="Package" asp-action="ViewDocument" asp-route-id="@document.Id">@document.Name</a>
                                            </p>
                                        }
                                    </td>
                                    <td id="signature-column">
                                        @if (topic.Signature == null)
                                        {
                                            <a data-id="@topic.Id" class="btn btn-primary btn-sm sign-topic"><i class="glyphicon glyphicon-pencil"></i> Sign</a>
                                        }
                                        else
                                        {
                                            <p>@topic.Signature.Name</p>
                                            <p>@topic.Signature.Date</p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3 style="margin-top: 40px; text-align: center;">No topics available</h3>
                }
            </div>
        </div>
    }
}
else
{
    <h2 style="margin-top: 130px; text-align: center;">No available categories</h2>
}




